*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: black;
}
.domain{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo img{
    height: 50px;
    width: auto;
}
.list_item{
    list-style: none;
    display: flex;
    gap: 30px;
}
.list_item .item a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 6px 0;
    transition: color 0.3s;
}
.button{
    display: flex;
    gap: 20px;
}
.button .buy{
    background-color: orange;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    border-radius: 5px;
}
.main_body{
    padding: 20px;
}
.trailer img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}
.see_more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.see_more .movie_stop img{
    width: 100%;
    height: 100px;
}